
<br>
<h2>Trivia Contests for {{user?.nickName}}</h2>
<div *ngIf="contests.length > 0">
  <ul class="list-group" >
    <li class="list-group-item" *ngFor="let contest of contests">
     <!-- todo <a routerLink="/contest/{{contest.id}}">-->
        <span >{{contest.name}}</span> 
      <!--</a>-->
    </li>
  </ul> 
</div>
 
<br>
<div class="form-group row col-12 col-md-6">
  <div class="input-group mb-3 pull-right form-inline ">
    <input required type="text" class="form-control" name="code" [(ngModel)]="code" id="code" placeholder="Trivia Contest Code"> 
    <button (click)="joinTriviaContest()" type="submit" class="btn btn-primary">Join New Trivia Contest</button>
  </div>
  <div class="alert alert-danger" *ngIf="codeIsInvalid">Invalid Code.</div>
  <div class="alert alert-warning" *ngIf="userHasCode">User has already joined this game.</div>

</div>

