.box{
    border: none;
    width: 65%;
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    background: rgb(109, 109, 138);
    background: linear-gradient(270deg, rgb(109, 109, 138), rgb(183, 183, 187) );
}
.box h2, h6{
    color: #fff;
}
label {
    color: #fff;
    margin-bottom: 0px;
    font-size: 15px;
}
.footer{
    text-align: right;
}
.center{
    color: #fff;
    text-align: left;
}